head
  meta(charset='utf-8')

  title Paste | PasteMole
  link(rel='stylesheet' type='text/css' href='../css/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='../js/client.js')
  // ace.js libs
  script(src='https://pagecdn.io/lib/ace/1.4.7/ace.js' type='text/javascript' charset='utf-8')
  script.
    function htmlDecode(input) {
      var e = document.createElement('div');
      e.innerHTML = input;
      return e.childNodes[0].nodeValue;
    }
    function CopyEditor() {
      const code = editor.getValue();

      var sel = editor.selection.toJSON(); // save selection
      editor.selectAll();
      editor.focus();
      document.execCommand("copy");
      editor.selection.fromJSON(sel); // restore selection
    }

    window.onload = function() {
      OnLoad();

      let startingCode = htmlDecode(document.getElementById('startingCode').innerHTML);
      let startingCodeType = document.getElementById('startingCodeType').innerHTML;

      editor.setValue(startingCode);
      editor.session.setMode("ace/mode/" + startingCodeType);

      editor.setOptions({
        readOnly: true
      });
    }
h1#title_main
  span#title_main_top
    | PasteMole
    br
  span(id='') An online code-pasting service
.textContainer_center
  ul
    li
      a.active(href='https://portfolio.ruffles.pw/') Portfolio
    li
      a(href='https://paste.ruffles.pw/') Text-Based Pastes
    li
      a(href='/') Image-Based Pastes
    //https://image.ruffles.pw/
    // <li><a href="#about">Home</a></li>

.textContainer_center
  //
    Main code pasting goes here
  a(href='index.html')
    button.submitCode_button  Make new Paste
  button#copyTextButton(type='image' onclick='CopyEditor()') Copy to clipboard
  // <button class="submitCode_button" onclick="Highlight()"> Highlight </button>
  #editor.codePastingArea

  #pasteProperties
    p#pasteProperties_p
      | {
      br
      | &emsp;&emsp;&emsp;&emsp;
      span#pasteProperties_jsonHeader &quot;pasteName&quot;
      | :
      span#pasteProperties_jsonProperty &quot;#{pasteName}&quot;
      | ,
      br
      | &emsp;&emsp;&emsp;&emsp;
      span#pasteProperties_jsonHeader &quot;pasteDescription&quot;
      | :
      span#pasteProperties_jsonProperty &quot;#{pasteDescription}&quot;
      | ,
      br
      | &emsp;&emsp;&emsp;&emsp;
      span#pasteProperties_jsonHeader &quot;pasteType&quot;
      | :
      span#pasteProperties_jsonProperty &quot;#{pasteType}&quot;
      br
      |             }


.textContainer_center
  footer
    p
      span(style='font-weight: bold;') Author:
      |  Jonathan Ruffles
    p
      span(style='font-weight: bold;') Github:
      a(href='https://github.com/pippinmole') https://github.com/pippinmole
    p
      span(style='font-weight: bold;') E-Mail:
      a(href='mailto:jonathan@ruffles.dev') jonathan@ruffles.dev


  p#startingCode= pasteContents
  p#startingCodeType= pasteType
